<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');

/**
 * @var ?\Mapping\Api\Representation\MappingRepresentation $mapping
 * @var \Mapping\Api\Representation\MappingMarkerRepresentation[] $markers
 */
$mapping = null;
$markers = $this->api()->search('mapping_markers', ['site_id' => $site->id(), 'limit' => 1000])->getContent();

$siteSlug = $site->slug();
?>

<div class="search-by-map-popup search-popup is-popup">
    <div class="popup-scroll-content">
        <div class="search-by-map-popup-content is-popup-content">
            <div class="search-by-map-header search-popup-header">
                <div class="search-by-map-close search-popup-close">
                    <a href="#"><?= $translate('Close') ?></a>
                </div>
                <h1><?= sprintf($translate('Recherche %spar carte%s'), '<span>', '</span>') ?></h1>
            </div>
            <div class="search-by-map-map">
                <?php // TODO Chargement lors du popup. ?>
                <div id="mapping-section" class="section">
                    <div id="mapping-map" data-mapping="<?= $escape(json_encode($mapping, 320)) ?>"></div>
                </div>
                <?php
                foreach ($markers as $marker):
                    $item = $marker->item();
                    $itemUrl = $item->siteUrl($siteSlug);
                    $itemTitle = $item->displayTitle();
                    $media = $marker->media();
                    $label = $marker->label() ?: $itemTitle;
                ?>
                <div class="mapping-marker-popup-content" style="display:none;" data-marker-id="<?= $escape($marker->id()) ?>" data-marker-lat="<?= $escape($marker->lat()) ?>" data-marker-lng="<?= $escape($marker->lng()) ?>">
                    <?php if ($media): ?>
                    <div>
                        <a href="<?= $itemUrl ?>">
                            <div>
                                <img src="<?= $escapeAttr($media->thumbnailUrl('medium')) ?>">
                            </div>
                        </a>
                    </div>
                    <?php endif; ?>
                    <h3><a href="<?= $itemUrl ?>"><?= $escape($label) ?></a></h3>
                    <div class="metadata">
                        <?php if ($value = $item->value('dcterms:date')): ?>
                        <?= $escape($value) ?>
                        <?php endif; ?>
                    </div>
                </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
