<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\ItemRepresentation $item
 * @var \Omeka\Api\Representation\ItemRepresentation $resource
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var ?array $rightsData
 * @var ?array $rightsStatementsData
 * @var ?array $creativeCommonsData
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $this->plugin('escapeHtml');
$themeFunctions = $plugins->get('ThemeFunctions');

if (is_null($rightsStatementsData)) {
    $rightsStatementsData = $themeFunctions->rightsStatements($resource) ?: [];
}

if (is_null($creativeCommonsData)) {
    $creativeCommonsData = $themeFunctions->creativeCommons($resource) ?: [];
}

$rights = $resource->value('dcterms:rights', ['type' => 'literal']);
$license = $resource->value('dcterms:license', ['type' => 'literal']);

$assetUrlBase = $this->assetUrl('', null, false, false);
?>

<?php if (!$rightsStatementsData && !$creativeCommonsData && !$rights && !$license): ?>
<p><?= $translate('Ce document ne dispose pas d’information relative aux droits d’auteur et à la licence.') ?></p>
<?php return; ?>
<?php endif; ?>

<div class="item-rights-contents-entry"><?= $translate('Statut du droit d’auteur') ?></div>
<ul>
    <?php if ($rightsStatementsData): ?>
    <li>
        <div class="rights-icon">
            <?= $themeFunctions->rightsStatementsIcon($rightsStatementsData['code'], ['icon_type' => 'icon', 'format' => 'svg']) ?>
        </div>
        <div class="rights-definition">
            <div class="rights-definition-title"><?= $translate('Déclaration des droits') . ' : ' . $rightsStatementsData['title'] ?></div>
            <div class="rights-definition-description">
                <?= $rightsStatementsData['summary'] ?>
            </div>
        </div>
    </li>
    <?php endif; ?>
    <?php if ($rights): ?>
    <li>
        <div class="rights-icon">
            <img src="<?= $assetUrlBase ?>/img/citer.svg" alt="<?= $translate('Droits') ?>">
        </div>
        <div class="rights-definition">
            <div class="rights-definition-description">
                <?= $rights ?>
            </div>
        </div>
    </li>
    <?php endif; ?>
    <?php if ($creativeCommonsData): ?>
    <li>
        <div class="rights-icon">
            <img src="<?= $assetUrlBase ?>/img/creative-commons/icons/cc.svg" alt="<?= $translate('License Creative Commons') ?>">
        </div>
        <div class="rights-definition">
            <div class="rights-definition-title"><?= $translate('License Creative Commons') ?></div>
            <div class="rights-definition-description">
                <?= $themeFunctions->creativeCommonsPart('cc')['summary'] ?>
            </div>
        </div>
    </li>
    <?php endif; ?>
    <?php if ($license): ?>
    <li>
        <div class="rights-icon">
            <img src="<?= $assetUrlBase ?>/img/citer.svg" alt="<?= $translate('License') ?>">
        </div>
        <div class="rights-definition">
            <div class="rights-definition-description">
                <?= $license ?>
            </div>
        </div>
    </li>
    <?php endif; ?>
</ul>

<button class="copy-button"><?= $translate('Copier') ?></button>

<div class="item-rights-contents-entry"><?= $translate('Utilisation de cet item') ?></div>
<ul>
    <?php
    if ($creativeCommonsData):
        foreach (explode('-', $creativeCommonsData['code']) as $codePart):
            $part = $themeFunctions->creativeCommonsPart($codePart);
            $currency = $codePart === 'nc' ? '-eu' : '';
    ?>
    <li>
        <div class="rights-icon">
            <img src="<?= $assetUrlBase . '/img/creative-commons/icons/' . $codePart . $currency . '.svg' ?>" alt="<?= $part['title'] ?>">
        </div>
        <div class="rights-definition">
            <div class="rights-definition-title">
                <span><?= $part['title'] ?> [<?= $codePart ?>]</span>
                <span class="rights-definition-info">(<?= $part['label'] ?>)</span>
            </div>
            <div class="rights-definition-description">
                <?= $part['summary'] ?>
            </div>
        </div>
    </li>
    <?php endforeach; ?>
    <?php endif; ?>
</ul>
