<?php declare(strict_types=1);

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');

$address = $query['mapping_address'] ?? null;
$radius = $query['mapping_radius'] ?? null;
$radiusUnit = $query['mapping_radius_unit'] ?? null;
$units = [
    'km' => $translate('Kilometers'),
    'miles' => $translate('Miles'),
];
?>
<div class="field">
    <div class="field-meta">
        <legend><?= $translate('Geographic Address') ?></legend>
    </div>
    <div class="inputs">
        <input type="text" name="mapping_address" value="<?= $escape($address) ?>">
    </div>
</div>
<div class="field">
    <div class="field-meta">
        <legend><?= $translate('Geographic Radius') ?></legend>
    </div>
    <div class="inputs">
        <input type="text" name="mapping_radius" value="<?= $escapeAttr($radius) ?>">
    </div>
</div>
<div class="field">
    <div class="field-meta">
        <legend><?= $translate('Geographic Radius Unit') ?></legend>
    </div>
    <div class="inputs">
        <select name="mapping_radius_unit">
            <?php foreach ($units as $key => $value): ?>
            <option value="<?= $escapeAttr($key); ?>"<?= $key === $radiusUnit ? ' selected' : '' ?>><?= $escape($value) ?></option>
            <?php endforeach; ?>
        </select>
    </div>
</div>
