<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $itemSets
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $resources
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$this->htmlElement('body')->appendAttribute('class', 'item-sets search');
?>

<div class="search-advanced content-with-padding">
    <div>
        <?php if ($breadcrumbs): ?>
        <?= $breadcrumbs(['separator' => '']) ?>
        <?php else: ?>
        <nav class="breadcrumbs">
            <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
            <span><?= $translate('Search results') ?></span>
        </nav>
        <?php endif; ?>
        <h2><?= $translate('Advanced item set search') ?></h2>
        <form id="advanced-search" method="get" action="<?= $escapeAttr($url(null, ['action' => 'browse'], true)) ?>">
            <?= $this->partial(
                'common/advanced-search',
                ['query' => $this->params()->fromQuery(), 'resourceType' => 'item_set']
            ) ?>
            <div id="page-actions">
                <input type="submit" name="submit" value="<?= $escapeAttr($translate('Search')) ?>">
            </div>
        </form>
    </div>
</div>
