<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\ItemRepresentation $item
 * @var \Omeka\Api\Representation\ItemRepresentation $resource
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$siteSetting = $plugins->get('siteSetting');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeFunctions = $plugins->get('ThemeFunctions');

$previousResourceHelper = $plugins->has('previousResource') ? $plugins->get('previousResource') : false;
$nextResourceHelper = $previousResourceHelper ? $plugins->get('nextResource') : false;
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : false;

$citation = $plugins->has('citation') ? $plugins->get('citation') : false;

$this->htmlElement('body')->appendAttribute('class', 'item resource show');

$headingTerm = $siteSetting('browse_heading_property_term', 'dcterms:title');
// $bodyTerm = $siteSetting('browse_body_property_term', 'dcterms:description');
$heading = $headingTerm ? $resource->value($headingTerm, ['default' => $translate('[Untitled]')]) : $resource->displayTitle();
// $body = $bodyTerm ? $resource->value($bodyTerm) : $resource->displayDescription();

$filterLocale = (bool) $siteSetting('filter_locale_values');
$lang = $this->lang();
$langValue = $filterLocale ? [$this->lang(), ''] : null;

$itemSets = $item->itemSets();
$itemSetsUrl = $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true);
if ($itemSets) {
    $itemSet = reset($itemSets);
    $itemSetTitle = $headingTerm ? $itemSet->value($headingTerm, ['default' => $translate('[Untitled]')]) : $itemSet->displayTitle();
    $itemSetUrl = $itemSet->url();
} else {
    $itemSet = null;
    $itemSetTitle = '';
    $itemSetUrl = '';
}

$hasMappingData = $themeFunctions->hasResourceMappingOrMarkers($resource, $site->id());

$viewing = $themeFunctions->mainViewerAndLinks($resource, false);
?>

<div class="item-show content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Welcome') ?></a>
        <a href="<?= $itemSetsUrl ?>"><?= $translate('Collections') ?></a>
        <?php if ($itemSet): ?>
        <a href="<?= $itemSetUrl ?>"><?= $escape($itemSetTitle) ?></a>
        <?php endif; ?>
        <span><?= $heading ?></span>
    </nav>
    <?php endif; ?>

    <div class="item-show-content">

        <?php $this->trigger('view.show.before'); ?>

        <div class="item-show-header">
            <nav>
                <?php
                // TODO Les liens inutiles sont cachés via le css. Utiliser des spans.
                // $backUrl = $itemSetUrl ?: $itemSetsUrl;
                if ($previousResourceHelper):
                    $previousResource = $previousResourceHelper($resource);
                    $previousResourceUrl = $previousResource ? $previousResource->url() : null;
                    $nextResource = $nextResourceHelper($resource);
                    $nextResourceUrl = $nextResource ? $nextResource->url() : null;
                else:
                    $previousResource = null;
                    $previousResourceUrl = null;
                    $nextResource = null;
                    $nextResourceUrl = null;
                endif; ?>
                <?php if ($previousResource): ?>
                <a class="item-show-previous" href="<?= $previousResourceUrl ?>"><?= $escape($translate('Previous Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-previous" href=""></a>
                <?php endif; ?>
                <a class="item-show-back" href="<?= $itemSetUrl ?: $itemSetsUrl ?>"><?= $translate('Back') ?></a>
                <?php if ($nextResource): ?>
                <a class="item-show-next" href="<?= $nextResourceUrl ?>"><?= $escape($translate('Next Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-next" href=""></a>
                <?php endif; ?>
            </nav>

            <?= $this->pageTitle($resource->displayTitle(), 1) ?>
        </div>

        <div class="item-show-medias">
            <div class="item-show-medias-header">
                <span><?= $resource->displayTitle() ?></span>
            </div>
            <div class="item-show-medias-content">
                <?php if ($viewing['viewer'] === 'lightGallery'): ?>
                    <?= $themeFunctions->lightGallery($resource, ['viewing' => $viewing]) ?>
                <?php elseif (!empty($viewing['is_iiif'])): ?>
                    <?= $this->{$viewing['viewer']}($resource) ?>
                <?php else: ?>
                    <?php foreach ($viewing['all'] as /* $mediaId => */ $media): ?>
                        <?= $media->render() ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            <div class="item-show-medias-footer">
                <div class="item-cc-rights">
                    <?php $rightsStatementsData = $themeFunctions->rightsStatements($resource, 'dcterms:rights', null, null, ['format' => 'png']); ?>
                    <?php $creativeCommonsData = $themeFunctions->creativeCommons($resource, 'dcterms:license', null, null, ['format' => 'svg', 'currency' => 'dollar']); ?>
                    <?php if ($creativeCommonsData): ?>
                    <?= $creativeCommonsData['icon'] ?>
                    <?php elseif ($rightsStatementsData): ?>
                    <?= $rightsStatementsData['icon'] ?>
                    <?php else: ?>
                    <?= $themeFunctions->rightsStatementsIcon('CNE', ['format' => 'png']) ?>
                    <?php endif; ?>
                </div>
                <ul class="item-show-services">
                    <?php if (($media = $item->primaryMedia()) && $media->hasOriginal()): ?>
                    <li><a class="item-download" href="<?= $media->originalUrl() ?>" download="download"><?= $translate('Download') ?></a></li>
                    <?php endif; ?>
                    <?php if ($citation): ?>
                    <li><a class="item-quote copy-clipboard" href="#" data-citation="<?= $escapeAttr(strip_tags($citation($item))) ?>"><?= $translate('Cite') ?></a></li>
                    <?php endif; ?>
                    <li><a class="item-permalink copy-clipboard" href="<?= $resource->url(null, true) ?>" data-citation="<?= $resource->url(null, true) ?>"><?= $translate('Permalink') ?></a></li>
                </ul>
            </div>
        </div>

        <?php // TODO Garder le ul pour le style quand il n'y a pas de tag ? ?>
        <ul class="item-show-tags">
            <?php
            $values = $resource->value('dcterms:subject', ['all' => true]);
            foreach ($values as $value): ?>
            <li><?= $themeFunctions->browseValueForTerm($value, 'dcterms:subject')['link'] ?></li>
            <?php endforeach; ?>
        </ul>

        <div class="item-show-metadata-parent">

            <ul class="item-show-metadata-tabs">
                <li class="active"><a href="#"><?= $translate('Abbreviated Metadta') ?></a></li>
                <li class=""><a href="#"><?= $translate('Detailed Metadata') ?></a></li>
                <li class=""><a href="#"><?= $translate('Rights') ?></a></li>
                <?php if ($hasMappingData): ?>
                <li class=""><a href="#" class="tab-mapping"><?= $translate('Location') ?></a></li>
                <?php endif; ?>
            </ul>

            <ul class="item-show-metadata-tab-contents">
                <li class="active">
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Detailed Metadata') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content">
                        <?php // TODO Bouton notice anglais. ?>
                        <ul class="item-show-metadata-languages">
                            <li data-lang="en" class="active"><a href="#">EN</a></li>
                            <?php /* ?>
                            <li data-lang="en"><a href="#">EN</a></li>
                            */ ?>
                        </ul>
                        <ul class="item-show-metadata current-language" data-lang="en">
                            <?= $resource->displayValues(['block' => 'short', 'resource' => $resource]) ?>
                        </ul>
                        <?php /*
                        <ul class="item-show-metadata" data-lang="en">
                            <?= $resource->displayValues(['block' => 'short', 'resource' => $resource]) ?>
                        </ul>
                        */ ?>
                    </div>
                </li>
                <li>
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Detailed Metadata') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content">
                        <ul class="item-show-metadata current-language">
                            <?= $resource->displayValues(['resource' => $resource]) ?>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Rights') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content item-rights-contents">
                        <?php $this->vars()->offsetSet('rightsStatementsData', $rightsStatementsData ?: []); ?>
                        <?php $this->vars()->offsetSet('creativeCommonsData', $creativeCommonsData ?: []); ?>
                        <?= $this->partial('common/rights-license') ?>
                    </div>
                </li>
                <?php if ($hasMappingData): ?>
                <li>
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Location') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content">
                        <div><?= $this->partial('mapping/index/show') ?></div>
                    </div>
                </li>
                <?php endif; ?>
            </ul>
        </div>

        <?= $this->partial('common/see-also', [
            'heading' => $translate('Cela pourrait aussi vous intéresser'),
            'site' => $site,
            'resource' => $resource,
            'count' => 4,
        ])?>

        <div class="item-show-references">
            <h2><?= $translate('Poursuivez vos recherches') ?></h2>
            <ul>
                <li><a href="https://www.humatheque-condorcet.fr/fr/collections-et-archives/archives/" _target="blank">Archives de l'Humathèque Condorcet</a></li>
                <!-- <li><a href="https://bibnum.explore.psl.eu" _target="blank">Bibnum Université PSL</a></li> -->
            </ul>
        </div>

        <?php $this->trigger('view.show.after'); ?>

        <div class="item-show-footer">
            <nav>
                <?php if ($previousResource): ?>
                <a class="item-show-previous" href="<?= $previousResourceUrl ?>"><?= $escape($translate('Previous Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-previous" href=""></a>
                <?php endif; ?>
                <?php /*
                <a class="item-show-back" href="<?= $itemSetUrl ?: $itemSetsUrl ?>"><?= $translate('Back') ?></a>
                */ ?>
                <?php if ($nextResource): ?>
                <a class="item-show-next" href="<?= $nextResourceUrl ?>"><?= $escape($translate('Next Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-next" href=""></a>
                <?php endif; ?>
            </nav>
        </div>
    </div>
</div>
