<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\MediaRepresentation $media
 * @var \Omeka\Api\Representation\MediaRepresentation $resource
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $this->plugin('escapeHtml');
$url = $plugins->get('url');
$assetUrl = $plugins->get('assetUrl');
$themeFunctions = $plugins->get('ThemeFunctions');

$previousResourceHelper = $plugins->has('previousResource') ? $plugins->get('previousResource') : false;
$nextResourceHelper = $previousResourceHelper ? $plugins->get('nextResource') : false;
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : false;

$this->htmlElement('body')->appendAttribute('class', 'item resource show');

$headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
$bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');
$heading = $headingTerm ? $resource->value($headingTerm) : $resource->displayTitle();
$body = $bodyTerm ? $resource->value($bodyTerm) : $resource->displayDescription();

$item = $media->item();
$headingItem = $headingTerm ? $item->value($headingTerm, ['default' => $translate('[Untitled]')]) : $item->displayTitle();
$body = $bodyTerm ? $item->value($bodyTerm) : $item->displayDescription();
$itemUrl = $item->url();
$this->vars()->offsetSet('item', $item);

$itemSets = $item->itemSets();
$itemSetsUrl = $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true);
if ($itemSets) {
    $itemSet = reset($itemSets);
    $itemSetTitle = $headingTerm ? $itemSet->value($headingTerm, ['default' => $translate('[Untitled]')]) : $itemSet->displayTitle();
    $itemSetUrl = $itemSet->url();
} else {
    $itemSet = null;
    $itemSetTitle = '';
    $itemSetUrl = '';
}

$hasMappingData = $themeFunctions->isModuleActive('Mapping');
if ($hasMappingData) {
    $api = $plugins->get('api');
    $markers = $api->search('mapping_markers', ['media_id' => $media->id()])->getTotalResults();
    $hasMappingData = $markers > 0;
}

$this->htmlElement('body')->appendAttribute('class', 'media resource show');
?>

<div class="item-show content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Welcome') ?></a>
        <a href="<?= $itemSetsUrl ?><?= $translate('Collections') ?></a>
         <?php /** if ($itemSet): ?> 
        <a href="<?= $itemSetUrl ?><?= $escape($itemSetTitle) ?></a>
        <?php endif; ?>
        <a href="<?= $itemUrl ?><?= $escape($headingItem) ?></a>
        <span><?= $heading ?></span> */
    </nav>
    <?php endif; ?>

    <div class="item-show-content">

        <?php $this->trigger('view.show.before'); ?>

        <div class="item-show-header">
            <nav>
                <?php
                // TODO Les liens inutiles sont cachés via le css. Utiliser des spans.
                $backUrl = $itemSetUrl ?: $itemSetsUrl;
                if ($previousResourceHelper):
                    $previousResource = $previousResourceHelper($resource);
                    $previousResourceUrl = $previousResource ? $previousResource->url() : null;
                    $nextResource = $nextResourceHelper($resource);
                    $nextResourceUrl = $nextResource ? $nextResource->url() : null;
                else:
                    $previousResource = null;
                    $previousResourceUrl = null;
                    $nextResource = null;
                    $nextResourceUrl = null;
                endif; ?>
                <?php if ($previousResource): ?>
                <a class="item-show-previous" href="<?= $previousResourceUrl ?>"><?= $escape($translate('Previous Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-previous" href=""></a>
                <?php endif; ?>
                <a class="item-show-back" href="<?= $itemUrl ?>"><?= $translate('Back') ?></a>
                <?php if ($nextResource): ?>
                <a class="item-show-next" href="<?= $nextResourceUrl ?>"><?= $escape($translate('Next Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-next" href=""></a>
                <?php endif; ?>
            </nav>

            <?= $this->pageTitle($resource->displayTitle(), 1) ?>
        </div>

        <div class="item-show-medias">
            <div class="item-show-medias-header">
                <span><?= $resource->displayTitle() ?></span>
            </div>
            <div class="item-show-medias-content">
                <?= $media->render() ?>
            </div>
            <div class="item-show-medias-footer">
                <div class="item-cc-rights">
                    <?php $rightsStatementsData = $themeFunctions->rightsStatements($item, 'dcterms:rights', null, null, ['format' => 'png']); ?>
                    <?php $creativeCommonsData = $themeFunctions->creativeCommons($item, 'dcterms:license', null, null, ['format' => 'svg', 'currency' => 'euro']); ?>
                    <?php if ($creativeCommonsData): ?>
                    <?= $creativeCommonsData['icon'] ?>
                    <?php elseif ($rightsStatementsData): ?>
                    <?= $rightsStatementsData['icon'] ?>
                    <?php else: ?>
                    <?= $themeFunctions->rightsStatementsIcon('CNE', ['format' => 'png']) ?>
                    <?php endif; ?>
                </div>
                <ul class="item-show-services">
                    <?php // TODO Download et quote ?>
                    <li><a class="item-download" href="#"><?= $translate('Download') ?></a></li>
                    <li><a class="item-quote" href="#"><?= $translate('Cite') ?></a></li>
                    <li><a class="item-permalink" href="<?= $resource->url() ?>"><?= $translate('Permalink') ?></a></li>
                </ul>
            </div>
        </div>

        <ul class="item-show-tags">
            <?php $values = $resource->value('dcterms:subject', ['all' => true]); ?>
            <?php if (count($values)): ?>
            <?php // TODO Search or browse. ?>
            <?php $baseSubject = $url('site/resource', ['action' => 'browse'], ['query' => ['property' => [['property' => 'dcterms:subject', 'type' => 'eq', 'text' => '']]]], true) ?>
            <?php foreach ($resource->value('dcterms:subject', ['all' => true]) as $value): ?>
            <li><a href="<?= $baseSubject . rawurlencode((string) $value->value()) ?>"><?= $value->value() ?></a></li>
            <?php endforeach; ?>
            <?php endif; ?>
        </ul>

        <div class="item-show-metadata-parent">

          <ul class="item-show-metadata-tabs">
                <li class="active"><a href="#"><?= $translate('Abbreviated Metadata') ?></a></li>
                <li class=""><a href="#"><?= $translate('Full Metdata') ?></a></li>
                <li class=""><a href="#"><?= $translate('Rights') ?></a></li>
                <?php if ($hasMappingData): ?>
                <li class=""><a href="#"><?= $translate('Location') ?></a></li>
                <?php endif; ?>
            </ul>
         <ul class="item-show-metadata-tab-contents">
                <li class="active">
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Abbreviated Metadata') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content">
                        <?php // TODO Bouton notice anglais. ?>
                        <ul class="item-show-metadata-languages">
                            <li data-lang="en" class="active"><a href="#">EN</a></li>
                            <?php /* ?>
                            <li data-lang="en"><a href="#">EN</a></li>
                            */ ?>
                        </ul>

                        <ul class="item-show-metadata current-language" data-lang="en">
                            <?= $resource->displayValues(['block' => 'short', 'resource' => $resource]) ?>
                        </ul>

                        <?php /*
                        <ul class="item-show-metadata" data-lang="en">
                            <?= $resource->displayValues(['block' => 'short', 'resource' => $resource]) ?>
                        </ul>
                        */ ?>
                    </div>
                </li>
                <li>
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Full Metadata') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content">
                        <ul class="item-show-metadata current-language">
                            <?= $resource->displayValues(['resource' => $resource]) ?>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Rights') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content item-rights-contents">
                        <?php $this->vars()->offsetSet('rightsStatementsData', $rightsStatementsData ?: []); ?>
                        <?php $this->vars()->offsetSet('creativeCommonsData', $creativeCommonsData ?: []); ?>
                        <?= $this->partial('common/rights-license') ?>
                    </div>
                </li>
                <?php if ($hasMappingData): ?>
                <li>
                    <div class="item-show-metadata-mobile-tab">
                        <a href="#"><?= $translate('Location') ?></a>
                    </div>
                    <div class="item-show-metadata-tab-content">
                        <div><?= $this->partial('mapping/index/show') ?></div>
                    </div>
                </li>
                <?php endif; ?>
            </ul>
        </div>

        <?= $this->partial('common/see-also', [
            'heading' => $translate('This might also interest you'),
            'item' => $item,
            'resource' => $resource,
            'count' => 4,
        ])?>



        <?php $this->trigger('view.show.after'); ?>

        <div class="item-show-footer">
            <nav>
                <?php if ($previousResource): ?>
                <a class="item-show-previous" href="<?= $previousResourceUrl ?>"><?= $escape($translate('Previous Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-previous" href=""></a>
                <?php endif; ?>
                <?php /*
                <a class="item-show-back" href="<?= $itemSetUrl ?: $itemSetsUrl ?>"><?= $translate('Back') ?></a>
                <a class="item-show-back" href="<?= $itemUrl ?>"><?= $translate('Back') ?></a>
                */ ?>
                <?php if ($nextResource): ?>
                <a class="item-show-next" href="<?= $nextResourceUrl ?>"><?= $escape($translate('Next Entry')) ?></a>
                <?php else: ?>
                <a class="item-show-next" href=""></a>
                <?php endif; ?>
            </nav>
        </div>
    </div>
</div>
