<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageRepresentation[] $pages
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');

$this->htmlElement('body')->appendAttribute('class', 'page browse');
?>

<div class="page-show content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
        <span><?= $translate('Pages') ?></span>
    </nav>
    <?php endif; ?>

    <?= $this->pageTitle($translate('Pages'), 2) ?>
    <div class="browse-controls">
        <?= $pagination = $this->pagination('common/pagination') ?>
    </div>
    <?php if ($pages): ?>
    <ul class="resource-list">
        <?php foreach ($pages as $page): ?>
        <li class="page resource"><h4><?= $page->link($page->title()) ?></h4></li>
        <?php endforeach; ?>
    </ul>
    <?php else: ?>
    <p><?= $translate('No pages found') ?></p>
    <?php endif; ?>
    <?= $pagination ?>

</div>
