<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $assets Contains keys "asset" (AssetRepresentation), "caption", "title", "url" and "class".
 * @var string $heading
 */

if (empty($assets)) return;

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$assetElement = $plugins->get('assetElement');
$themeFunctions = $plugins->get('ThemeFunctions');

$hasMapping = $themeFunctions->hasMappingOrMarkers();
$isAdvancedSearchForm = $themeFunctions->isAdvancedSearchForm($this->searchForm()->getForm());

// TODO Utiliser la recherche avancée standard.
$searchingForm = $plugins->has('searchingForm') ? $plugins->get('searchingForm') : null;
$searchUrl = $searchingForm ? $this->searchingUrl() : $url('site/resource', ['controller' => 'item', 'action' => 'browse'], true);

$body = $this->pageMetadata('summary') ?: '';

$asset = $assets[array_rand($assets)];
?>

<div class="home-search-box">
    <div class="home-search-box-content search-box-content" aria-label="Accueil recherche" role="search">
        <div class="home-search-box-header">
            <?php if (!empty($heading)): ?>
            <span class="home-search-box-heading"><?= $escape($heading) ?></span>
            <?php endif; ?>
            <?php if (!empty($asset['title'])): ?>
            <span class="home-search-box-title"><?= $escape($asset['title']) ?></span>
            <?php endif; ?>
        </div>
        <form class="form-search" action="<?= $searchUrl ?>">
            <input class="autosuggest" type="search" name="<?= $searchingForm ? 'q' : 'fulltext_search' ?>" placeholder="<?= $translate('Rechercher un document') ?>"/>
            <span class="select-parent">
                <select name="by">
                    <option value="" selected="selected"><?= $translate('Tout') ?></option>
                    <option value="period"><?= $translate('Par période') ?></option>
                    <option value="subject"><?= $translate('Par sujet') ?></option>
                </select>
            </span>
            <button type="submit"><?= $translate('Rechercher') ?></button>
        </form>
        <div class="home-search-box-footer search-box-footer">
            <?php if ($hasMapping): ?>
            <div class="search-by-map-button">
                <a href="#"><?= $translate('Recherche par carte') ?></a>
            </div>
            <?php endif; ?>
            <?php if ($isAdvancedSearchForm): ?>
            <div class="advanced-search-button">
                <a href="#"><?= $translate('Recherche avancée') ?></a>
            </div>
            <?php endif; ?>
            <?php if ($asset['caption']): ?>
            <div class="home-search-infos"><a href="#"></a></div>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php if ($asset['caption']): ?>
<div class="search-infos-popup search-popup is-popup">
    <div class="popup-scroll-content">
        <div class="search-infos-popup-content page-show is-popup-content">
            <div class="search-infos-popup-header search-popup-header">
                <div class="advanced-search-close search-popup-close">
                    <a href="#"><?= $translate('Fermer') ?></a>
                </div>
            </div>
            <div>
                <?= $asset['caption'] ?>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
