<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $itemSets
 * @var string $thumbnailType
 * @var string $showTitleOption
 * @var string $heading
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$thumbnail = $plugins->get('thumbnail');
$url = $plugins->get('url');
$themeFunctions = $plugins->get('ThemeFunctions');

$thumbnailUrl = $plugins->get('thumbnailUrl');

$site = $themeFunctions->currentSite();
$siteSlug = $site->slug();
$headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
$bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');
$defaultThumbnailUrl = $this->assetUrl('thumbnails/default.png', 'Omeka', true);
$defaultTitle = $translate('[Untitled]');
?>

<div class="browse-contents browse-itemsets content-with-padding browse-itemsets-homepage">
    <div class="browse-contents-header">
        <h1><?= empty($heading) ? '' : $escape($heading) ?></h1>
        <div class="browse-contents-see-all"><a href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Voir toutes les collections') ?></a></div>
    </div>
    <ul class="browse-itemsets-list">
        <?php
        foreach ($itemSets as $resource):
            $resourceUrl = $resource->siteUrl($siteSlug);
            $resourceThumbnail = $thumbnailUrl($resource, $thumbnailType) ?: $defaultThumbnailUrl;
            $resourceTitle = $headingTerm ? $resource->value($headingTerm, ['default' => $defaultTitle]) : $resource->displayTitle($defaultTitle);
            // $resourceBody = $bodyTerm ? $resource->value($bodyTerm) : $resource->displayDescription();
            // TODO Couleurs ? => via css.
            // $resourceCategory = $resource->value('curation:category');
            $resourceIsNew = $resource->value('curation:new');
            $documentCount = $resource->itemCount();
            $documentCountStr = sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount);
        ?>
        <li<?php if ($resourceIsNew): ?> class="new-itemset"<?php endif; ?>>
            <a href="<?= $resourceUrl ?>">
                <div class="browse-itemsets-img">
                    <img src="<?= $resourceThumbnail ?>" alt="<?= $escapeAttr($resourceTitle) ?>"/>
                </div>
                <div class="browse-itemsets-title">
                    <?php if ($showTitleOption): ?>
                    <h2><?= $resourceTitle ?></h2>
                    <?php endif; ?>
                    <div class="home-itemset-documents-count"><?= $documentCountStr ?></div>
                    <?php foreach ($resource->value('dcterms:subject', ['all' => true]) as $value): ?>
                    <div class="home-itemset-tags"><?= $value->value() ?? $value->uri() ?></div>
                    <?php endforeach; ?>
                </div>
            </a>
        </li>
        <?php endforeach; ?>
    </ul>
</div>
