<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchPage
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 * @var int $documentCount
 * @var string $pagination
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
?>

<div class="search-results-content-controls">
    <?php if ($itemSet): ?>
    <div class="itemset-show-back-to-itemsets">
        <a class="back-to-itemsets" href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Retour aux collections') ?></a>
    </div>
    <?php else: ?>
    <div class="search-results-back"></div>
    <?php endif; ?>
    <div class="search-results-content-header">
        <div class="search-results-count"><?= sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount) ?></div>
        <?php if ($documentCount): ?>
        <?= $pagination ?>
        <?= $this->searchSortSelector($query, $searchPage->subSetting('sort', 'fields'), true) ?>
        <?php endif; ?>
    </div>
</div>
