<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \AdvancedSearch\Form\MainSearchForm $form
 */

// Scripts are loaded via an event on view.layout and can be set in search-form-main-header.phtml.

// Attention: ici on n'affiche que les champs principaux, car les champs secondaires
// sont déjà gérés par le layout via le formulaire search-form-headrom.

// Même formulaire que search-form-headroom, sauf qu'il n'y a pas le sélecteur "by" et que les classes sont différentes.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$formElement = $plugins->get('formElement');
$themeFunctions = $plugins->get('ThemeFunctions');

$params = $this->params()->fromQuery() ?: [];
$form
    ->setData($params)
    ->prepare();

$hasMapping = $themeFunctions->hasMappingOrMarkers();
$isAdvancedSearchForm = $themeFunctions->isAdvancedSearchForm($form);
$mainElement = $themeFunctions->mainElementOfSearchForm($form);
?>

<div class="search-results-header">
    <?= $this->pageTitle($translate('Rechercher'), 1) ?>
    <div class="search-results-search-box">
        <?= $this->form()->openTag($form) ?>
            <?= $formElement($mainElement /* ->setAttribute('placeholder', $translate('Rechercher un document'))*/) ?>
            <?php /* if ($themeSetting('search_by_append', false)): ?> // Présent uniquement dans le headroom et le bloc accueil.
            <span class="select-parent">
                <select name="by">
                    <option value="" selected="selected"><?= $translate('Tout') ?></option>
                    <option value="period"><?= $translate('Par période') ?></option>
                    <option value="subject"><?= $translate('Par sujet') ?></option>
                </select>
            </span>
            <?php endif; */ ?>
            <?php if ($form->has('reset')): ?>
            <?= $formElement($form->get('reset')) ?>
            <?php endif; ?>
            <?php if ($form->has('submit')): ?>
            <?= $formElement($form->get('submit')) ?>
            <?php endif; ?>
        <?= $this->form()->closeTag() ?>
        <?php if ($hasMapping || $isAdvancedSearchForm): ?>
        <div class="search-results-header-buttons">
            <?php if ($hasMapping): ?>
            <div class="search-by-map-button">
                <a href="#"><?= $translate('Recherche par carte') ?></a>
            </div>
            <?php endif; ?>
            <?php if ($isAdvancedSearchForm): ?>
            <div class="advanced-search-button">
                <a href="#"><?= $translate('Recherche avancée') ?></a>
            </div>
            <?php endif; ?>
        </div>
        <?php endif; ?>
    </div>
</div>
