<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */


$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;
?>

<div class="page-show content-with-padding">
    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
        <span><?= $translate('No page') ?></span>
    </nav>
    <?php endif; ?>
    <p><? $translate('This site has no pages.') ?></p>
</div>
