<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$url = $plugins->get('url');
$assetUrl = $plugins->get('assetUrl');

$baseAssetUrl = $assetUrl('', null, false, false);

// <footer> est inclus dans le gabarit "layout".
?>

<div class="footer-content">
    <div class="footer-columns">
        <div class="footer-column">
            <a class="footer-logo" href="https://www.campus-condorcet.fr/"></a>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="https://www.campus-condorcet.fr"><?= $translate('Le Campus Condorcet') ?></a></li>
                <li><a href="https://www.humatheque-condorcet.fr/"><?= $translate('Découvrez l\'Humathèque') ?></a></li>
                <li><a href="<?= $url('site/page', ['page-slug' => 'a-propos'], true) ?>"><?= $translate('A propos de la bibliothèque numérique') ?></a></li>
                <li><a href="<?= $url('site/page', ['page-slug' => 'contact'], true) ?>"><?= $translate('Contact') ?></a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="<?= $url('site/page', ['page-slug' => 'plan-du-site'], true) ?>"><?= $translate('Plan du site') ?></a></li>
                <li><a href="<?= $url('site/page', ['page-slug' => 'mentions-legales'], true) ?>"><?= $translate('Mentions légales') ?></a></li>
                <li><a href="<?= $url('site/page', ['page-slug' => 'credits'], true) ?>"><?= $translate('Crédits') ?></a></li>
            </ul>
        </div>
        <div class="footer-share">
            <ul>
                <li>
                    <a class="footer-share-instagram" href="https://www.campus-condorcet.fr/fr/instagram" title="Instagram">
                        <img src="<?= $baseAssetUrl ?>img/icons/Instagram.svg" alt="logo Instagram">
                    </a>
                </li>
                <li>
                    <a class="footer-share-twitter" href="https://twitter.com/humatheque" title="Twitter">
                        <img src="<?= $baseAssetUrl ?>img/icons/Twitter_Bird.svg" alt="logo Twitter">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-partners">
        <a><img src="<?= $baseAssetUrl ?>img/logo/republique_francaise.png" alt="République francaise"></a>
        <div class="footer-partners-rows">
            <ul>
                <li class="republique-francaise"><a><img src="<?= $baseAssetUrl ?>img/logo/republique_francaise.png" alt="République francaise"></a></li>
                <li class="cnrs"><a href="https://www.campus-condorcet.fr/fr/centre-national-de-la-recherche-scientifique"><img src="<?= $baseAssetUrl ?>img/logo/LOGO_CNRS_2019_RVB_2.svg" alt="CNRS"></a></li>
                <li class="ehess"><a href="https://www.campus-condorcet.fr/fr/ecole-des-hautes-etudes-en-sciences-sociales"><img src="<?= $baseAssetUrl ?>img/logo/Logo_EHESS.png" alt="EHESS"></a></li>
                <li class="ec-psl"><a href="https://www.campus-condorcet.fr/fr/ecole-nationale-des-chartes"><img src="<?= $baseAssetUrl ?>img/logo/Logo_ENC_petit.png" alt="Ecole des Chartes PSL"></a></li>
                <li class="ephe-psl"><a href="https://www.campus-condorcet.fr/fr/ecole-pratique-des-hautes-etudes"><img src="<?= $baseAssetUrl ?>img/logo/Logo_EPHE.png" alt="EPHE PSL"></a></li>
                <li class="fmsh"><a href="https://www.campus-condorcet.fr/fr/fondation-maison-des-sciences-de-l-homme"><img src="<?= $baseAssetUrl ?>img/logo/Logo_FMSH_blanc.png" alt="Fondation Maison des sciences de l'Homme"></a></li>
                <li class="footer-partners-break-row-tablet"></li>
                <li class="ined"><a href="https://www.campus-condorcet.fr/fr/institut-national-d-etudes-demographiques"><img src="<?= $baseAssetUrl ?>img/logo/Logo_Ined_blanc.png" alt="INED"></a></li>
                <li class="footer-partners-break-row-desktop"></li>
                <li class="pantheon-sorbonne"><a href="https://www.campus-condorcet.fr/fr/universite-paris-1-pantheon-sorbonne"><img src="<?= $baseAssetUrl ?>img/logo/Logo_Paris1_Blanc.png" alt="Université Paris I Panthéon Sorbonne"></a></li>
                <li class="sorbonne-nouvelle"><a href="https://www.campus-condorcet.fr/fr/universite-sorbonne-nouvelle-paris-3"><img src="<?= $baseAssetUrl ?>img/logo/sorbonne_nouvelle-devise-trapezes_blanc-V2.png" alt="Université Sorbonne Nouvelle"></a></li>
                <li class="paris-8"><a href="https://www.campus-condorcet.fr/fr/universite-paris-8-vincennes-saint-denis"><img src="<?= $baseAssetUrl ?>img/logo/Logo-_Paris8.png" alt="Université Paris 8"></a></li>
                <li class="paris-nanterre"><a href="https://www.campus-condorcet.fr/fr/universite-paris-nanterre"><img src="<?= $baseAssetUrl ?>img/logo/Logo-Paris10_blanc4.png" alt="Université Paris Nanterre"></a></li>
                <li class="sorbonne-paris-nord"><a href="https://www.campus-condorcet.fr/fr/universite-paris-13"><img src="<?= $baseAssetUrl ?>img/logo/Universite_Sorbonne_Paris_Nord.png" alt="Université Sorbonne Paris Nord"></a></li>
            </ul>
        </div>
    </div>
</div>
